# TTS Provider Selection
TTS_PROVIDER="elevenlabs"  # elevenlabs, openai

# ElevenLabs Configuration (required if using ElevenLabs)
# ELEVENLABS_API_KEY=your_elevenlabs_api_key

# OpenAI Configuration (required if using OpenAI)
ELEVENLABS_API_KEY= "apikey"


GOOGLE_API_KEY="apikey"

# optional for OpenAI compatible TTS endpoints
# OPENAI_ENDPOINT='your endpoint here'


# These options are for use with the Kokoro TTS providermanim --version
# Voice selection
# OPENAI_VOICE=af_heart
# Model selection
# OPENAI_MODEL=kokoro
